<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.extra.demo.mptest.mapper.UserMapper">

    <select id="selectUsersByPages" resultType="com.extra.demo.mptest.entity.User">
        select id,name from user ${ew.customSqlSegment}
        and name = #{user.name}
    </select>

</mapper>